{% extends "templates/base.html" %}
{% block body_content %}
<span class='col-xs-12'>
	<p>Hi! My name is Kaitlyn, and I am a first year master's student at the University of Michigan. I am studying Preservation of Information, and I am interested in the technical side of providing access to and preserving information. When I'm not in class or at my part-time job in the Special Collections Library, I enjoy cooking, running, and traveling.</p>
</span>
<span class='col-xs-12 col-med-6 col-lg-4'>
	<h2>Undergraduate Education</h2>
	<p>I completed my freshman year at Northwestern State University in Natchitoches, LA as part of the Scholar's College. I transferred to Rice University in Houston, TX my sophomore year and completed a Bachelor's degree in anthropology in 2014. While at Rice, I took classes in history, religion, English, and anthropology. I also participated in the Rice University Marching Owl Band and was a founding member of the Rice Quidditch League.</p>
</span>
<span class='col-xs-12 col-med-6 col-lg-4'>
	<h2>Work Experience</h2>
	<p>After graduating from Rice University, I worked as the program coordinator for Community Bridges, a service learning fellowship for undergraduates in the sociology department at Rice. I enjoyed working with our nonprofit community partners to ensure that the internship program met their needs and learning more about Houston as a city.</p>
</span>
<span class='col-xs-12 col-med-6 col-lg-4'>
	<h2>Graduate Education</h2>
	<p>After working for a year, I began as a master's student at the University of Michigan School of Information in 2015. I thought I would pursue a career path in a typical archive or special collections, but through taking more technical classes at SI, I became interested in careers within libraries and archives that require more technical knowledge.</p>
</span>
{% endblock %}