{% extends "templates/base.html" %}

{% block body_content %}
<div class='col-xs-12'>	
	<h2>Cooking</h2>
	<p>Being a grad student, I often find myself stressed out by my classes, internship searches, and part time job. One of my favorite stress relief activities is cooking! I learned how to make a few family recipes for the holidays as a child from my dad, but I did not begin to enjoy it until I started college and lived on my own. Now, I try to make a new recipe each week.</p>
</div>
<div class='col-xs-12 col-med-6 col-lg-4'>
	<h3>Meals</h3>
	<img src='static/risotto.JPG' class='img-thumbnail' alt='Risotto in a baking dish'>
	<p>I follow a mostly vegetarian diet, and I like to cook with fresh and wholesome ingredients. One of my favorite recipe blogs is <a href='http://cookieandkate.com'>Cookie + Kate</a> because Kate comes up with creative and delicious recipes to make with in-season produce (and her dog is adorable, too. I also am enjoying trying recipes from <a href='http://budgetbytes.com'>Budget Bytes</a>. Budget Bytes fits a grad student's budget!</p>
</div>
<div class='col-xs-12 col-med-6 col-lg-4'>
	<h3>Baking</h3>
	<img src='static/cookies.JPG' class='img-thumbnail' alt='Raspberry thumbprint cookies on a plate'>
	<p>Raspberry thumbprint cookies from Sally's Baking Addiction</p>
	<p>Cooking meals is fun, but baking is the ultimate stress relief. My favorite thing to bake is muffins, but I also enjoy decorating cupcakes and making gooey cookies to share with friends. Whenever I go to an event or party, I grab a recipe from <a href='http://sallysbakingaddiction.com'>Sally's Baking Addiction</a> to bake because I know it will be a hit! If I'm preparing for a race and I want a healthier treat to make, I try something new from <a href='http://chocolatecoveredkatie.com'>Chocolate Covered Katie</a>. Katie's recipes are always inventive and delicious!</p>
</div>
<div class='col-xs-12 col-med-6 col-lg-4'>
	<h3>Bread</h3>
	<img src='static/bread.JPG' class='img-thumbnail' alt='Sliced challah bread'>
	<p>Baking bread is the ultimate stress relief with the highest reward. Although it is time consuming, I enjoy the process of kneading the dough, letting it rise, and watching it transform. My mom's friend taught me how to bake focaccia a few years ago, and I've been hooked ever since! When I moved to Michigan this year, I struggled with breadmaking, as my house is often too cold for the yeast to thrive!</p>
</div>
{% endblock %}