{% extends "templates/base.html" %}
{% block body_content %}
<h2>Running</h2>
<p id='run_quote'>I run to eat more cookies. I run to get away from the frustrations of building a web portfolio. I run to explore the town. I run to have fun.</p>
<p>I began running before I started college because all of my friends were doing it. I continued to run because I enjoy challenging myself and pushing myself to do better. I believe that anyone who wants to run can be a runner! I may not be fast, but I will continue to get better.</p>

<h3>My completed races</h3>
<ul>
	<li>Santa Shuffle 5k - Natchitoches, LA - 2010</li>
	<li>The Color Run 5k - Austin, TX - 2012</li>
	<li>The Color Run 5k - Austin, TX - 2013</li>
	<li>Houston Half Marathon and 10k - Houston, TX - 2014</li>
	<li>ABB 5k - Houston, TX - 2015</li>
	<li>Bayou City Classic 10k - Houston, TX - 2015</li>
	<li>Divas Half Marathon - Galveston, TX - 2015</li>
</ul>

<img src='static/abb.JPG' class='img-thumbnail'alt='Kaitlyn and Jonathan after 5k race'>
<img src='static/diva.JPG' class='img-thumbnail'alt='Kaitlyn crossing the finish line'>
<img src='static/houston10k.JPG' class='img-thumbnail'alt='Kaitlyn and Jonathan after 10k race'>
<!-- <img src='static/.JPG' alt=''>
<img src='static/.JPG' alt=''> -->

{% endblock %}