{% extends "templates/base.html" %}
{% block body_content %}
<h2>Travel</h2>
<p>My grandparents took the whole family to Greece and Turkey for their 50th wedding anniversary in 2009, and I got bitten by the travel bug. I enjoy traveling to new places and meeting new people because it widens my perspective and world view. Check out my travel pictures!</p>

<img src='static/amman.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='Buildings in Amman, Jordan'>
<img src='static/canoe.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='Canoe on Moraine Lake, Canada'>
<img src='static/chile.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='Snow covered volcano in Chile'>
<img src='static/david.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='David statue'>
<img src='static/lavenderfield.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4' alt='Lavender fields in France'>
<img src='static/madrid.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='Square in Madrid'>
<img src='static/nepal.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='Temple in Kathmandu, Nepal'>
<img src='static/penguins.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='Penguins on a rocky shore'>
<img src='static/londoneye.JPG' class='img-thumbnail col-xs-12 col-med-6 col-lg-4 gallery' alt='London Eye ferris wheel'>
{% endblock %}